@model CRUD.Model.Condominio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes de Condominio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edite", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
